body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: rgb(95, 139, 44);
    background-color: rgba(0, 140, 255, 0.226);
}